body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.message-container {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  /* Semi-transparent background */
  z-index: 9999;
}

.message-box {
  position: absolute;
  border: solid black;
  border-width: 5px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.content {
  border: solid black;
  border-width: 2px;
  margin-left: 10px;
  padding: 10px;
}

.content:hover {

  transition: transform 0.2s ease;
  transform: scale(1.05);
  cursor: pointer;
}

.imgslider1,
.imgslider2,
.imgslider3,
.imgslider4,
.imgslider5,
.imgslider6,
.imgslider7,
.imgslider8,
.imgslider9,
.imgslider10,
.imgslider11,
.imgslider12 {
  border: solid black;
  border-radius: 10px;
  border-width: 2px;
  margin-right: 20px;
  width: 900px;
  height: 400px;
  background-image: url("https://content.jdmagicbox.com/comp/mumbai/u6/022pxx22.xx22.190523142524.u6u6/catalogue/ab-s-absolute-barbecues-powai-mumbai-barbeque-restaurants-0kyc9lky6i.jpg");
  background-size: 100% 100%;
  color: black;
}

.imgslider1:hover,
.imgslider2:hover,
.imgslider3:hover,
.imgslider4:hover,
.imgslider5:hover,
.imgslider6:hover,
.imgslider7:hover,
.imgslider8:hover,
.imgslider9:hover,
.imgslider10:hover,
.imgslider11:hover,
.imgslider12:hover {

  transition: transform 0.2s ease;
  transform: scale(1.06);
  cursor: pointer;
}

.imgslider2 {
  background-image: url("https://d4t7t8y8xqo0t.cloudfront.net/resized/1080X/restaurant%2F223232%2Fmenu%2Fmenu211704960413069.jpg");
}

.imgslider3 {
  background-image: url("https://d4t7t8y8xqo0t.cloudfront.net/resized/1080X/group%2F6277%2Fmenu%2Fmenu020231103053409.jpg");
}

.imgslider3 {
  background-image: url("https://d4t7t8y8xqo0t.cloudfront.net/resized/1080X/restaurant%2F691628%2Fmenu%2Fmenu01703676312227.jpg");
}

.imgslider4 {
  background-image: url("https://d4t7t8y8xqo0t.cloudfront.net/resized/1080X/restaurant%2F224374%2Fmenu%2Fmenu01574429540895.jpg");
}

.imgslider5 {
  background-image: url("https://d4t7t8y8xqo0t.cloudfront.net/resized/1080X/restaurant%2F686106%2Fmenu%2Fmenu01673327314368.jpg");
}

.imgslider6 {
  background-image: url("https://d4t7t8y8xqo0t.cloudfront.net/resized/1080X/restaurant%2F685945%2Fmenu%2Fmenu21672726517808.jpg");
}

.close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: large;
  cursor: pointer;
  color: #888;
}

.close-button:hover {
  color: #333;
  transition: transform 0.2s ease;
  transform: scale(1.06);
  cursor: pointer;
}

.message-box {
  padding: 50px;
  display: flex;
  flex-direction: row;
}

.img2 {
  width: 900px;
  margin-right: 30px;

}

h4 {
  color: orangered;
  font-weight: 700;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

img {
  width: 100%;
  border-radius: 5px;
  height: 220px;
}

body {
  font-family: sans-serif;
  line-height: 1.5;
}